<div class="container-show-guest">
  <div class="title-guest">
    <h1>Detalle de INVITADO</h1>
  </div>
  <div class="card-show-guest">
    <div class="content-form-edit">
      <h2>Editar invitado en <%= @event.name %></h2>
      <%= render "form", guest: @guest%>
    </div>
    <div class="show-guest-edit">
      <%= link_to "Mostrar Invitado", @guest %> 
      <%= link_to "Regresar a Invitados", guests_path %>
    </div>
  </div>
</div>

<br>

