<div class="container-new-guests">
  <div class="right-guests">
    <div class="guests-form">
      <h1>REGISTRAR INVITADOS</h1>
      <div class="main-form-guests">
        <%= render "form", guest: @guest %>
      </div>
      <br>

    </div>

    <div>
      <%= link_to "Back to guests", guests_path %>
    </div>

  </div>
  <div class="left-guests">
   <%= image_tag ("Image-guests.png"), class:"img-guests"%>
  </div>
  
</div>
