.container-new-event {
    @include center-flex-column;
    height: 100%;

    .container-form{
        width: 70%;
        @include center-flex-column;
        height: 50%;

        h1 {
            color: $main-pink;
            font-size: 1.5em;
            font-family: 'berlinsans';
        }

        form {
            width: 100%;
            height: 100%;
        } 

        .content-form {
            font-family: 'Renogare-Regular';
            display: flex;
            width: 100%; 
            justify-content: space-around;
            height: 100%;

            .left {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;


                .form-main {
                    display: block;
                }
                
                input {
                    width: 80%;
                }
            }

            .right {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;


                .form-main {
                    display: block;
                }

                input {
                    width: 80%;
                }

                textarea {
                    width: 80%;
                }

                .container-time {
                    display: flex;
                    width: 80%;
                    justify-content: space-between;

                    .time-input {
                        width: 50%;
                    }
                }

                #event_end_time {
                    width: 100%;
                }

                #event_start_time {
                    width: 95%;
                }
            }
        }

        .create-event {
            display: flex;
            justify-content: center;

            input {
                background-color: $main-pink;
                border-radius: 10px;
                border: none;
                color: $principal-night;
                font-size: 20px;
                font-weight: 400;
                height: 100%;
                width: 25%;
                font-family: "Renogare-Regular";
            }
        }
    }

    .back-events {
        margin-top: 50px;
    }
}