.container-list {
    height: 100%;
    width: 100%;
    @include center-flex-column;

    .container-list-group {
        height: 80%;
        width: 90%;
        position: absolute;

        h1 {
            font-family: "berlinsans";
            color: $main-pink;
            margin-bottom: 3%;
            letter-spacing: 2px;
        }

        .guest-list {
            min-height: 80%;
            overflow-y: auto;
            height: 80%;
            width: 100%;

            .table-guests {
                width: 100%;
                height: 100%;
                border: 1px $table-grey solid;
                font-family: "Renogare-Regular";

                thead {
                    height: 10%;
                    background-color: $column-grey;
                    th {
                        border: 1px $table-grey solid;
                    }
                }


                td {
                    border: 1px $table-grey solid; 
                    padding: 1%;
                }

                .form-index {
                    display: inline-block;
                    border: 1px $table-grey solid; 
                    padding: 1%;
                    width: 19.2%;
                }

                .form-blank {
                    display: none;
                }

                #guest_kinship {
                    width: 100%;
                }
                
                #guest_event_id {
                    width: 100%;
                }

                input {
                    width: 100%;
                }

                .form-index-table {
                    display: flex;
                    justify-content: space-between;
                }

                .submit-index {
                    margin-top: 1%;
                }
            }  
        }

      
    }
}