.home-main{
    align-items: stretch;
    background-color: $principal-night;
    display: flex;
    height: 100%;
    width: 100%;

    .left{
        @include center-flex-column;
        height: 100%;
        width: 45%;

        .title{
            color: $main-pink;
            display: flex;
            font-family: "berlinsans";
            font-size: 50px;
            justify-content: center;
            letter-spacing: 3px;
            width: 60%;
        }
        .slogan{
        color: $main-white;
        font-size: x-large;
        letter-spacing: 1px;
        margin: 0px 0px 50px 0px;
        text-align: center;
        width: 80%;
        font-family: "Renogagre-Regular";
        }

        .btn {
            height: 7%;
            width: 50%;

            form {
                height: 100%;
                width: 100%;
            }
        
        }
        

    }
    
    .right{
        background-color: white;
        width: 55%;

        .img-home{
            height: 100%;
            width: 100%;
        }
    }

   
}