<h1>¡Has sido invitado a TuEvento!</h1>
<% if @guest %>
  <p>¡Hola <%= @guest.name %>!</p>
    <p>Has sido invitado a un evento especial en TuEvento. Haz clic en el siguiente enlace para confirmar tu asistencia:</p>
<% else %>
    <p>¡Error! No se encontró el invitado.</p>
<% end %>
