<main class="home-main">
    <div class="left">
        <p class="title">Tu-fiesta</p>
        <p class="slogan">Convierte tu evento ideal en una realidad</p>
        <div class="btn">
            <%= form_tag new_user_session_path, method: :get do %>
            <%= button_tag 'Crear Evento', type:"submit", class: 'button'%>
            <% end %> 
        </div>
    </div>
    <div class="right">
        <%= image_tag ("photohomepage.png"), class:"img-home"%>
    </div>
</main>
