<main class="home-main">
    <div class="left">
        <p class="title">Tu-fiesta</p>
        <p class="slogan">Convierte tu evento ideal en una realidad</p>
        <div class="btn">
            <%= button_to 'Crear Evento', class: 'button-stand'%>
        </div>
    </div>
    <div class="right">
        <%= image_tag ("photohomepage.png"), class:"img-home"%>
    </div>
</main>
