<p class="notice" >Inicio de Sesion Correctamente<%= notice %></p>

<div class="container-events">
  <div class="left">
    <h1 class="title-event">Bienvenidos</h1>
    <p>¡Bienvenido a Tu-Fiesta! <br>
    Aquí te ofrecemos una plataforma fácil y eficiente para gestionar tus eventos y mantener tus invitaciones bajo control. Ya sea que estés planeando una reunión íntima o un gran evento, estamos aquí para hacer que la gestión de invitados sea un proceso sencillo y sin complicaciones.</p>
    <%= link_to "Crear Evento", new_event_path, class:"button button-event" %>
  </div>
  <div class="right">
    <%= image_tag ("photohomepage.png"), class:"img-home"%>
  </div>
</div>
  
