<div class="container-new-event">
  <div class="container-form">
    <h1>Tú Próximo Evento</h1>
    <%= render "form", event: @event %>

    <br>

    <div class="back-events">
      <%= link_to "Volver a Eventos", events_path %>
    </div>
  </div>

</div>




