.button:hover{
    transform: scale(1.05);
}
.button{
    background-color: $main-pink;
    border-radius: 10px;
    border: none;
    color: $principal-night;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    font-family: "Renogare-Regular";
}

.notice, .alert {
    animation-duration: 5000ms;
    height: 3%;
    width: 100%;
    background-color: $correct-blue;
    color: $white;
    animation-fill-mode: forwards;
    animation-name: msg-animation;
    display: flex;
}