// Color Variables
$principal-night:#141414;
$main-pink:#F2778D;
$main-white:#F2F2F2;
$ob-field:#AB5050;
$night:#000000;
$white-secondary:#F9F9F9;
$white:#FFFFFF;
$correct-blue:#3EA4DE;
$incorrect-red:#E12345;
$active-green:#0FA958;
$expired-red:#CD2828;
$delete-red:#F24E1E;
$table-grey:#8F8F8F;
$column-grey:#F2BBA7;
