nav {
    background-color: $principal-night;
    height: 7%;

    .container-nav-devise {
        color: $main-pink;
        height: 100%;
        width: 100%;
        font-size: 2em;
        padding: 0 0 0 5%;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        font-family: "berlinsans";
    }
}