nav {
    background-color: $principal-night;
    height: 7%;

    .container-nav-devise {
        align-items: center;
        color: $main-pink;
        display: flex;
        font-family: "berlinsans";
        font-size: 2em;
        height: 100%;
        letter-spacing: 2px;
        padding: 0 0 0 5%;
        width: 100%;
    }
}