nav {
    background-color: $principal-night;
    height: 7%;

    .container-nav-devise {
        color: $main-pink;
        height: 100%;
        width: 100%;
        font-size: 2em;
        padding: 0 0 0 5%;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        font-family: "berlinsans";
        justify-content: space-between;

        .menu-devise {
            display: flex;
            font-size: .5em;
            justify-content: space-around;
            width: 40%;

            a {
                color: $main-pink;
            }

            button {
                border: none;
                background:none;
                color: $main-pink;
                font-size: 1em;
                font-family: "berlinsans";
                text-decoration: underline;
            }

            .links.active {
                color: $main-white;
            }
        }
    }
}