body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
@import 'abstract/variables';
@import 'abstract/mixins';
@import 'abstract/classes';
@import 'base/base';
@import 'views/_home_index';
@import 'components/_navbar_devise';
@import 'views/devise/sign_in';
@import 'views/devise/sign_up';
@import 'components/navbar';
@import 'views/_events_homepage';
@import 'views/_events_index';
@import 'views/_events_new';
@import 'views/_events_show';
@import 'views/_events_edit';
@import 'views/_guests_new';
@import 'views/_guests_index';
@import 'views/_guests_show';
@import 'views/_guests_edit';
@import 'components/_bar_search_event';
